<h1 mat-dialog-title>{{team.name + " matches details"}}</h1>
<div mat-dialog-content>
  <app-team-matches-list [teamId]="team.id"></app-team-matches-list>  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">close</button>
</div>
