<h1 class="body-title">competitions details</h1>
<img src="../../../../assets/loadingicon.gif" *ngIf="loadingData">
<section *ngIf="!loadingData">
    <mat-form-field appearance="fill">
        <mat-label>Select a Competition</mat-label>
        <mat-select [(value)]="selectedCompetition" (selectionChange)="onCompetitionSelected()">
            <mat-option *ngFor="let competition of availableCompetitions" [value]="competition">{{competition.name}}</mat-option>
        </mat-select>
        <mat-hint>Please select a competition to show information</mat-hint>
    </mat-form-field>
    <br/>
    <br/>
    <app-competition-teams-board></app-competition-teams-board>
</section>