<h1 class="body-title">competitions list</h1>
<img src="../../../../assets/loadingicon.gif" *ngIf="loadingData">
<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort (matSortChange)="sortData($event)" matSortActive="area" matSortDirection="asc" matSortDisableClear *ngIf="!loadingData">
    <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> area </th>
        <td mat-cell *matCellDef="let element" (click)="onClickedRow(element)">{{element.area.name}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
        <td mat-cell *matCellDef="let element" (click)="onClickedRow(element)">            
            <span>{{element.name}}</span>
            <img *ngIf="element.emblemUrl != null" [src]="element.emblemUrl"/>
        </td>
    </ng-container>    
    <ng-container matColumnDef="currentMatchDay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> current season match day </th>
        <td mat-cell *matCellDef="let element" (click)="onClickedRow(element)"> 
            {{element.currentSeason == null ? "Not Available" : element.currentSeason.currentMatchday}}
        </td>
    </ng-container>
    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> start date </th>
        <td mat-cell *matCellDef="let element" (click)="onClickedRow(element)">
            {{element.currentSeason == null ? "Not Available" : (element.currentSeason.startDate | date: 'MM/dd/yyyy')}}
        </td>
    </ng-container>
    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> end date </th>
        <td mat-cell *matCellDef="let element" (click)="onClickedRow(element)">
            {{element.currentSeason == null ? "Not Available" : element.currentSeason.endDate | date: 'MM/dd/yyyy'}}
        </td>
    </ng-container>
    <ng-container matColumnDef="moreInfo">
        <th mat-header-cell *matHeaderCellDef> more information </th>
        <td mat-cell *matCellDef="let element" (click)="onClickedRow(element)">
            <div class="more-info-container">
                <span class="material-icons">search</span>
                <span>click for more info</span>
            </div>            
        </td>
    </ng-container>
    
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <h2>
                {{"total tournament's teams: "+ (element.teams != null ? element.teams.length : '')}}              
            </h2>
            <app-competition-teams-board [standings]="element.standings" *ngIf="element.standings != null"></app-competition-teams-board>            
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>