td{
  cursor: pointer;
}

tr.detail-row {
  height: 0;
}
  
tr.element-row:not(.expanded-row):hover {
  background: gray;
}
  
tr.element-row:not(.expanded-row):active {
  background: gray;
}

img{
  margin-left: 15px;
  width: 50px !important;
  height: 50px !important;
}

.more-info-container{
  display: flex;
  align-items: center;
}