/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:#F1BC93;}
table{
    width: 100%;
}
h1,h2,th,th button{
    text-transform: capitalize;
}

h1.body-title{
    color: #704273;
}

th.mat-header-cell,th.mat-header-cell button{
    font-weight: bold;
    font-size: 14px;
}

img{
    border-radius: 5px;
}

td img{
    height: 80px;
    width: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: white;
    color: #956798;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: white;
    color:#704273;
    outline: 0;
}

button:active {
    transform: scale(0.99);
}

.mat-dialog-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-table {
    background: #704273 !important;
}

.mat-dialog-container {
    background: #956798 !important;
}