<h1 mat-dialog-title>{{team.name + " details"}}</h1>
<div mat-dialog-content>
  <app-team-detail [teamId]="team.id"></app-team-detail>  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">close</button>
</div>