<img src="../../../../assets/loadingicon.gif" *ngIf="loadingData">
<section *ngIf="!loadingData">
    <ng-container  *ngFor="let competition of availableCompetitions">
        <div class="row">
            <div class="col-md-12 capitalize">
                {{competition.name + " competition"}}
            </div>
        </div>
        <table mat-table [dataSource]="groupedMatches[competition.id]">
            <ng-container matColumnDef="homeTeamName">
                <th mat-header-cell *matHeaderCellDef> home </th>
                <td mat-cell *matCellDef="let element">{{element.homeTeam.name}}</td>
            </ng-container>
            <ng-container matColumnDef="awayTeamName">
                <th mat-header-cell *matHeaderCellDef> away </th>
                <td mat-cell *matCellDef="let element">{{element.awayTeam.name}}</td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef> score </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.score.fullTime.homeTeam != null && element.score.fullTime.awayTeam != null">{{element.score.fullTime.homeTeam + " - " + element.score.fullTime.awayTeam}}</span>
                    <span class="capitalize" *ngIf="element.score.fullTime.homeTeam == null || element.score.fullTime.awayTeam == null">not available</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="matchDate">
                <th mat-header-cell *matHeaderCellDef> match date (UTC) </th>
                <td mat-cell *matCellDef="let element">{{element.utcDate | date: 'MM/dd/yyyy'}}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </ng-container>
</section>