<div id="header">    
    <h1>eleven systems sample application</h1>
    <nav>
        <span routerLink='/dashboard' routerLinkActive="active">dashboard</span>|
        <span routerLink='/competitiondetails' routerLinkActive="active">competition details</span>|
        <span routerLink='/favoriteteams' routerLinkActive="active">favorites</span>
    </nav>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
