$margin-size: 30px;
#header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-left: $margin-size;
    padding-right: $margin-size;
    padding-top: $margin-size;
    padding-bottom: $margin-size;
    margin-bottom: 30px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color:#50a213;
    h1{
        display: flex;      
    }
    nav{
        display: flex;
        font-size: 1.25rem;
        span{
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
            &:focus{
                outline: 0;
            }
            &.active{
                text-decoration: underline;
            }
        }
    }
}