<img src="../../../../assets/loadingicon.gif" *ngIf="loadingData">
<section *ngIf="!loadingData">
    <div class="row">
        <div class="col-md-12 capitalize highlight">team players list</div>
    </div>
    <br/>
    <table mat-table [dataSource]="squad">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> name </th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> position </th>
            <td mat-cell *matCellDef="let element">{{element.position}}</td>
        </ng-container>
        <ng-container matColumnDef="nationality">
            <th mat-header-cell *matHeaderCellDef> nationality </th>
            <td mat-cell *matCellDef="let element">{{element.countryOfBirth}}</td>
        </ng-container>
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> age </th>
            <td mat-cell *matCellDef="let element">
                <span class="capitalize" *ngIf="element.dateOfBirth == null">not available</span>
                <span *ngIf="element.dateOfBirth != null">{{getPlayerAge(element.dateOfBirth)}}</span>                
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>