<h1 class="body-title" *ngIf="isValidList">favorite teams list</h1>
<h1 class="body-title" *ngIf="!isValidList">no favorite teams selected yet</h1>
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> crest </th>
        <td mat-cell *matCellDef="let element">
            <img *ngIf="element.crestUrl != null" [src]="element.crestUrl"/>
        </td>
    </ng-container>    
    <ng-container matColumnDef="competitionDetails">
        <th mat-header-cell *matHeaderCellDef> competition details </th>
        <td mat-cell *matCellDef="let element" (click)="openCompetitionDetails(element)">
            <div class="more-details">
                <span class="material-icons">search</span>
                <span>click for competition details</span>
            </div>            
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>