<img src="../../../../assets/loadingicon.gif" *ngIf="loadingData">
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="position" matSortDirection="asc" matSortDisableClear *ngIf="!loadingData">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
        <td mat-cell *matCellDef="let element" (click)="showTeamDetails(element.team)">{{element.team.name}}</td>
    </ng-container>
    <ng-container matColumnDef="crest">
        <th mat-header-cell *matHeaderCellDef> crest </th>
        <td mat-cell *matCellDef="let element" (click)="showTeamDetails(element.team)">
            <img *ngIf="element.team.crestUrl != null" [src]="element.team.crestUrl"/>
        </td>
    </ng-container>    
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> position </th>
        <td mat-cell *matCellDef="let element" (click)="showTeamDetails(element.team)">{{element.position}}</td>
    </ng-container>
    <ng-container matColumnDef="playedGames">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> played games </th>
        <td mat-cell *matCellDef="let element" (click)="showTeamDetails(element.team)">{{element.playedGames}}</td>
    </ng-container>
    <ng-container matColumnDef="points" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> points </th>
        <td mat-cell *matCellDef="let element" (click)="showTeamDetails(element.team)">{{element.points}}</td>
    </ng-container>
    <ng-container matColumnDef="wonGames">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> won </th>
        <td mat-cell *matCellDef="let element" (click)="showTeamDetails(element.team)">{{element.won}}</td>
    </ng-container>
    <ng-container matColumnDef="draw">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> draw </th>
        <td mat-cell *matCellDef="let element" (click)="showTeamDetails(element.team)">{{element.draw}}</td>
    </ng-container>
    <ng-container matColumnDef="lost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> lost </th>
        <td mat-cell *matCellDef="let element" (click)="showTeamDetails(element.team)">{{element.lost}}</td>
    </ng-container>
    <ng-container matColumnDef="goalsInFavor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> goals in favor </th>
        <td mat-cell *matCellDef="let element" (click)="showTeamDetails(element.team)">{{element.goalsFor}}</td>
    </ng-container>
    <ng-container matColumnDef="goalsAgainst">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> goals against </th>
        <td mat-cell *matCellDef="let element" (click)="showTeamDetails(element.team)">{{element.goalsAgainst}}</td>
    </ng-container>
    <ng-container matColumnDef="goalDifference">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> goal difference </th>
        <td mat-cell *matCellDef="let element" (click)="showTeamDetails(element.team)">{{element.goalDifference}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>