<img src="../../../../assets/loadingicon.gif" *ngIf="loadingData">
<section *ngIf="!loadingData">
    <div class="row">
        <div class="col-md-6">
            <b>area: </b>
            <span>{{team.area.name}}</span>
        </div>
        <div class="col-md-6">
            <b>name: </b>
            <span>{{team.name}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <b>crest: </b>
            <img *ngIf="team.crestUrl != null" [src]="team.crestUrl" />
        </div>
        <div class="col-md-6">
            <b>address: </b>
            <span>{{team.address}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <b>phone: </b>
            <span>{{team.phone}}</span>
        </div>
        <div class="col-md-6">
            <b>website link: </b>
            <span>{{team.website}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <b>email link: </b>
            <span>{{team.email}}</span>
        </div>
        <div class="col-md-6">
            <b>founded year: </b>
            <span>{{team.founded}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <b>venue: </b>
            <span>{{team.venue}}</span>
        </div>
        <div class="col-md-6">
            <div *ngIf="!team.isFavorite" class="favorites-control" (click)="addToFavorites()">
                <span class="material-icons">favorite_border</span>
                <b>add to favorites</b>
            </div>
            <div *ngIf="team.isFavorite" class="favorites-control" (click)="deleteFromFavorites()">
                <span class="material-icons">not_interested</span>
                <b>delete from favorites</b>
            </div>
        </div>
    </div>
</section>
<br/>
<section *ngIf="!loadingData">
    <app-team-player-list [squad]="team.squad"></app-team-player-list>
</section>